<div class="container-fluid navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="assets/img/logo.png" alt="app logo" class="logo">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">HOME</a></li>
      <li><a [routerLink]="['/overview']">OVERVIEW</a></li>
       <li><a [routerLink]="['/agenda']">AGENDA</a></li>
        <li><a [routerLink]="['/speaker']">SPEAKERS</a></li>
         <li><a [routerLink]="['/transport']">TRANSPORT AND ACCOMODATION</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
  <h1 class="title">Featured Speakers</h1>
    <div class="gallery">
        <a href="#"><img src="assets/img/modi.jpg" alt="Modi" class="img-circle">
  </a>
  <div class="desc"><a href="#">Narendra Modi</a><br />
     Prime Minister Of India
  </div>
</div>

<div class="gallery">
        <a href="#"><img src="assets/img/kovind.jpg" alt="Kovind" class="img-circle">
  </a>
  <br />
  <br />
  <div class="desc"><a href="#">Ram Nath Kovind</a><br />
     President Of India
  </div>
</div>
<div class="gallery">
        <a href="#"><img src="assets/img/Naidu.jpg" alt="Naidu" class="img-circle">
  </a>
  <br />
  <div class="desc"><a href="#">Venkaiah Naidu</a><br />
     Vice-President Of India
  </div>
</div>
<div class="gallery">
        <a href="#"><img src="assets/img/singh1.jpg" alt="Singh" class="img-circle">
  </a>
  <br />
  <div class="desc"><a href="#">Rajnath Singh</a><br />
     Minister of Home Affairs of India
  </div>
</div>


