<div class="container-fluid navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="assets/img/logo.png" alt="app logo" class="logo">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">HOME</a></li>
      <li><a [routerLink]="['/overview']">OVERVIEW</a></li>
       <li><a [routerLink]="['/agenda']">AGENDA</a></li>
        <li><a [routerLink]="['/speaker']">SPEAKERS</a></li>
         <li><a [routerLink]="['/transport']">TRANSPORT AND ACCOMODATION</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
  
  	 <h1 class="a1">Event Schedule</h1>
    <div>
        <ul class="agenda w3-padding w3-large w3-teal">
          <li class="items1"><i class="glyphicon glyphicon-map-marker icon"> Four Seasons Resort<p class="sub-items"> Goa Beach</p></i>
                  </li>
          <li class="items"><i class="glyphicon glyphicon-time"> Mar 02, 2018<p class="sub-items">10.00am - 8.00pm</p></i>
                  </li>
          <li class="items"><i class="glyphicon glyphicon-send"> Seats are available<p class="sub-items">TICKETS ARE GOING FAST</p></i>
                  </li>
         <li class="items"><i class="glyphicon glyphicon-glass"> SMSAwards<p class="sub-items">Biggest one ever</p></i></li>
        </ul>
     </div>
     <br>
     <br>
  	 <div class="heading">Morning Session</div>
     <div class="vl"></div>
  	      <ul>
         <li class="timings"> <span>08:00 am</span><a href="#" [popover]="sales" [popoverOnHover]="true" popoverPlacement="bottom" class="liststyle"><span class="glyphicon glyphicon-hand-right"></span> Sales  &  Operations Summit</a>
            <ul>
                <li class="sub-list"><span class="glyphicon glyphicon-hourglass"></span> Rackspace <span class="glyphicon glyphicon-arrow-right"></span> Venugopal </li>
                <li class="sub-list"><span class="glyphicon glyphicon-hourglass"></span> MCAProtect <span class="glyphicon glyphicon-arrow-right"></span> DC</li>
             </ul>   
         </li>
            <li class="timings"> <span>10:00 am</span><a href="#" [popover]="hr" [popoverOnHover]="true" popoverPlacement="bottom" class="liststyle"><span class="glyphicon glyphicon-hand-right"></span> HR Projects</a>
                 <ul>
                <li class="sub-list"><span class="glyphicon glyphicon-hourglass"></span> BI Team <span class="glyphicon glyphicon-arrow-right"></span> Amith Gulati </li>
                </ul>
            </li>
            <li class="timings"><span>11.30 am</span><a href="#" [popover]="is" [popoverOnHover]="true" popoverPlacement="bottom" class="liststyle"><span class="glyphicon glyphicon-hand-right"></span> Information Security</a>
                 <ul>
                <li class="sub-list"><span class="glyphicon glyphicon-hourglass"></span> Security Breach <span class="glyphicon glyphicon-arrow-right"></span> Ashutosh Bijoor </li>
                </ul>
            </li>
            <div class="heading1">Afternoon Session</div>
            <li class="timings"><span>01:00 am</span><a href="#" [popover]="summit" [popoverOnHover]="true" popoverPlacement="bottom" class="liststyle"><span class="glyphicon glyphicon-hand-right"></span> Lunch </a></li>
        </ul>
        <popover-content #sales
            title="Details"
            [closeOnClickOutside]="true">
            Sales & Ops 
        </popover-content>
        <popover-content #hr
            title="Details"
            [closeOnClickOutside]="true">
            HR related stuff
        </popover-content>
        <popover-content #is
            title="Details"
            [closeOnClickOutside]="true">
            Security guidelines.
        </popover-content>

